<div class="col-md-12 "  style="background-image: linear-gradient(#ddd, #999);">
 
  <div class="dropdown clearfix pull-right " >
      <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenuDivider" data-toggle="dropdown" aria-haspopup = "true" aria-expanded="true">
        排序
          <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuDivider">
        <li>
          <%= link_to("按照薪资下线排序", jobs_path(:order => "by_lower_bound")) %>
        </li>
        <li>
          <%= link_to("按照薪资上限排序", jobs_path(:order => "by_upper_bound")) %>
        </li>
        <li>
          <%= link_to("按照发表时间排序", jobs_path) %>
        </li>
      </ul>
  </div>
  <br>
  <br>
  <div style=" margin-left: 8.33333333%; margin-right: 8.33333333%">
      <% @jobs.each do |job| %>
        <div class="row jobs-show col-md-12 col-lg-10 col-lg-offset-1">
          <div>
            <div class="pull-right">
                  <% if current_user && current_user.is_admin && current_user == job.user %>
                      <%= link_to("Edit", edit_job_path(job), class: "btn btn-sm btn-info") %>
                      <%= link_to("Destroy", job_path(job), class: "btn btn-sm btn-info", method: :delete, data: { confirm: "Are you sure? " } ) %>
                  <% elsif current_user && current_user.is_admin &&  current_user != job.user %>
                      <%= link_to("立刻申请", "#", :disabled => true, class: "btn btn-info btn-sm") %>
                  <% else %>
                      <%= link_to("立刻申请", job_path(job), class: "btn btn-info btn-sm") %>
                  <% end %>
                  
            </div>
            <div class="row">
              <div class="col-md-6">
                <p><%=link_to(job.title, job_path(job)) %></p>
              </div>

              <div class="col-md-6">
                <p>  <i class="fa fa-address-card-o" aria-hidden="true"></i>描述：<%=job.description %> </p>
              </div>
            </div>
            
            <div class="row">
              <div class="col-md-6">
                薪资：<%=job.wage_lower_bound %> ~ <%= job.wage_upper_bound %>
              </div>
              <div class="col-md-6">
                <p><i class="fa fa-address-card-o" aria-hidden="true"></i> 类型：
                <% if job.category.blank? %>
                  工程师
                <% else %>
                  <%=job.category %>
                <% end %>
                </p>
              </div>
            </div>

            <div class="row">
              <div class="col-md-3 col-sm-6">
                <span><i class="fa fa-user-circle-o" aria-hidden="true"></i>发布者：
                <% if job.user.blank? %>
                  互联网公司
                <% else %>
                  管理员
                <% end %>
                </span>
              </div>
              <div class="col-md-3 col-sm-6">
                <span><i class="fa fa-location-arrow" aria-hidden="true"></i>所在地：
                <% if job.city.blank? %>
                  上海
                <% else %>
                  <%=job.city %>
                <% end %>
                </span>
              </div>
              <div class="col-md-3 col-sm-6">
                <span><i class="fa fa-clock-o" aria-hidden="true"></i>发布时间：<%=
                DateTime.parse(job.created_at.to_s).strftime('%Y-%m-%d').to_s%></span>
              </div>
              <div class="col-md-3 col-sm-6">
                <span><i class="fa fa-envelope" aria-hidden="true"></i>联系方式：<%=job.user.email %></span>
              </div>
            </div>
          </div>
        </div>
      <% end %>  
    </div>  
</div>