<%= simple_form_for [:admin,@job] do |f| %>

	<div class="form-job">
		<%= f.input :title, :label => '标题', input_html: { class: "form-control"} %>
		<%= f.input :description, :label => '描述', input_html: { class: "form-control"} %>
		<%= f.input :wage_upper_bound, :label => '工资上限', input_html: { class: "form-control"} %>
		<%= f.input :wage_lower_bound, :label => '工资下限', input_html: { class: "form-control", min: '0', step: 'any'} %>
		<%= f.input :category, :label => '类别', input_html: { class: "form-control"} %>	
		<%= f.input :company, :label => '企业', input_html: { class: "form-control"} %>
		<%= f.input :city, :label => '城市', input_html: { class: "form-control"} %>
		<%= f.input :contact_email, :label => '邮箱', input_html: {value: f.object.contact_email || current_user.email,  class: "form-control"} %>
		<%= f.input :is_hidden, :label => 'is hidden', :input_html => { :checked => true } %>
	</div>

	<%= f.submit "Submit", class: "btn btn-primary", data: { disable_with: "Submiting..."} %>

<% end %>